/* General */

a:hover {
  text-decoration: none;
}

body {
  background-color: rgba(250, 244, 244, 0.19);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

html, body {
  overflow: hidden;
}

label {
  margin-bottom: 10px;
}

.glyphicon {
  color:black;
}

.glyphicon-home { 
  vertical-align: middle;
}

#main { 
  color: white; 
}

.mega-octicon {
  font-size: 24px;
  margin-left: 5px;
}

.infotext {
  font-size: 12px;
}

.glyphicon {
  margin-right:5px;
}

.main-pg, 
.sub-pg, 
.link-pg,
.mysubs-pg {
  display:none;
}

.form-control {
  height: 30px;
  font-size: 12px;
}

/* Top Menu (Mobile) */

.menu-top {
}

#options-leave {
  display: none;
}

#top-menu {
  color: black;
  padding: 10px;
}

/* Left Menu */

#logo {
  font-size: 28px;
}

.tagline {
  font-size: 12px;
}

#contact {
  margin-left: 15px;
}

#questions {
  margin-bottom: 5px;
}

.input-wrapper {
  margin-top: 20px;
}

#login-div {
  padding-left: 0px;
  font-size: 13px;
}

#left-menu {
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  padding: 25px;
  border-right: 5px solid #eee;
  border-left: 5px solid #eee;
}

.typeahead li {
  font-size: 12px;
  font-family: 'Helvetica', sans-serif;
}

#update-button {
  margin-top: 20px;
}

.update-button-wrapper {
  font-size: 13px;
  margin-top: 10px;
}

#share {
  font-size: 13px;
  margin-bottom: 5px;
}

.share-button-wrapper {
  cursor: pointer;
}

#share-name,
#share-link,
#select-sort,
#input-sub {
  max-width: 200px;
}

#share-link {
}

#edit-gallery,
#remove-all {
  color: #C1552D;
  cursor: pointer;
}

#remove-all {
  margin-top: 10px;
}

.remove-button {
  display: none;
  color: #C1552D;
  margin-left: 5px;
}

.add-button {
  display: none;
  color: #1CA71C;
  margin-left: 5px;
}

.remove-button:hover {
  color: #843B20;
}

.share-result {
  display:none;
}

.share-load {
  display: none;
  margin-left: 20px;
}

#update-loader, 
#update-confirm {
  display: none;
}

.sub {
  cursor: pointer;
  margin-left: 0px;
  padding-left: 30px;
}

.pop-sub {
  cursor: pointer;
  margin-left: 0px;
  padding-left: 30px;
}

.sub-link:hover {
  color: #336699;
}

.sub-link {
  color: #428bca;
}

#sub-list {
  padding: 15px;
  /* padding-left: 0px; */
}

#pop-sub-list {
  padding: 15px;
  margin-left: 15px;
}

#pop-sub-names {
  display: none;
}

.options { 
  margin-top: 15px;
}

#active-subs-label {
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
}

#pop-subs-label {
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
}

#front-page-label {
  display:none;
  margin-left: 30px;
  /* font-size:  13px; */
}

#gallery-name { 
  font-size: 20px;
  font-weight: bold;
}

/* Gallery */

#gallery {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

#gallery-label {
  margin:10px;
}

.picbox {
  cursor:pointer;
  position:relative;
}

.infobox {
  background-color: white;
  border: 1px solid #eee;
  bottom: 0;
  color: black;
  display: none;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.infobox-nojs {
  background-color: white;
  border: 1px solid #eee;
  color:black;
  padding: 20px;
  width: 100%;
}

.picbox img {
  width: 100%;
  border: 1px solid #eee;
}

.load-button-wrapper {
  padding: 20px;
  display: none;
}

.subreddit a {
  color: #ff4500;
}

.subreddit a:hover {
  color: rgb(171, 56, 9);
}

.commentlink {
  margin-left: 5px;
}

.glyphicon-comment {
  margin-left: 5px;
  margin-right: 5px;
}
