/* General */

a:hover {
  text-decoration: none;
}

body {
  background: rgba(239,247,255,1);
  background: -moz-linear-gradient(top, rgba(239,247,255,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,247,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(239,247,255,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(239,247,255,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(239,247,255,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(239,247,255,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff7ff', endColorstr='#ffffff', GradientType=0 );
}

html, body {
  overflow: hidden;
}

label {
  margin-bottom: 10px;
  font-size: 13px;
}

.glyphicon {
  color:black;
}

.glyphicon-home { 
  vertical-align: middle;
}

#main { 
  color: white; 
}

.main-pg, 
.sub-pg, 
.link-pg,
.mysubs-pg {
  display:none;
}

.form-control {
  height: 30px;
  font-size: 13px;
}

/* Top Menu (Mobile) */

.menu-top {
  margin-bottom:20px;
}

#options-leave {
  display: none;
}

#top-menu {
  color: black;
  padding: 10px;
  font-weight: bold;
}

/* Left Menu */

#login-div {
  padding-left: 0px;
}

#left-menu {
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  padding: 25px;
}

#update-button {
  margin-top: 20px;
}

.update-button-wrapper {
  font-size: 13px;
  margin-top: 10px;
}

.share-button-wrapper {
  cursor: pointer;
}

#share-name,
#share-link,
#select-sort,
#input-sub {
  max-width: 200px;
}

#edit-gallery,
#remove-all {
  color: #C1552D;
  cursor: pointer;
}

.remove-button {
  display: none;
  color: #C1552D;
  margin-left: 5px;
}

.remove-button:hover {
  color: #843B20;
}

.share-result {
  display:none;
}

.share-load {
  display: none;
  margin-left: 20px;
}

#update-loader, 
#update-confirm {
  display: none;
}

.sub {
  cursor: pointer;
  margin-left: 0px;
}

.sub-link:hover {
  color: #336699;
}

.sub-link {
  color: #428bca;
  padding-left: 10px;
}

#sub-list {
  padding: 15px;
  /* padding-left: 0px; */
}

.options { 
  margin-top: 15px;
}

#active-subs-label {
  margin-bottom: 10px;
}

#front-page-label {
  display:none;
  margin-left: 10px;
  /* font-size:  13px; */
}

#gallery-name { 
  font-size: 18px;
  font-weight: bold;
}

/* Gallery */

#gallery {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

#gallery-label {
  margin:10px;
}

.picbox {
  cursor:pointer;
  position:relative;
}

.infobox {
  background-color: white;
  border: 1px solid #F2F2F2;
  bottom: 0;
  color: black;
  display: none;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.infobox-nojs {
  background-color: white;
  border: 1px solid #F2F2F2;
  color:black;
  padding: 20px;
  width: 100%;
}

.picbox img {
  width: 100%;
  border: 1px solid #eff7ff;
}

.load-button-wrapper {
  padding: 20px;
  display: none;
}

.subreddit a {
  color: #ff4500;
}

.subreddit a:hover {
  color: rgb(171, 56, 9);
}

.commentlink {
  margin-left: 5px;
}

.glyphicon-comment {
  margin-left: 5px;
  margin-right: 5px;
}
