<!DOCTYPE html>
<html lang="en">
  <head>

    {% if sub is defined %} 
  	  <title>Vuiit : {{sub}}</title>
    {% elif link is defined %} 
      {% if name == "" %}
        <title>Vuiit : Browsing a shared gallery</title>
      {% else %}
        <title>{{name}} : Vuiit</title>
      {% endif %}
    {% else %}
      <title>Vuiit : Build and share subreddit galleries</title>
    {% endif %}

    <meta charset="utf-8">
    <meta name="description" content="build and share subreddit image galleries.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="main" class="container-fluid">
      <div class="row">
      	<!-- Top Menu (Mobile) -->
        <div id="top-menu" class="hidden-lg hidden-md col-xs-12 text-center affix-top">
          <span id="options-enter">Tap to edit subreddits</span>
          <span id="options-leave">Tap to return To gallery</span>
        </div>
        <!-- Left Menu -->
        <div id="left-menu" class="hidden-xs hidden-sm col-md-2 affix-top">
          <div id="logo" class='text-left'>Vuiit</div>
          <div class="row menu-top">
            <div class="col-xs-12 sub-pg">
              Browsing r/{{sub}}
            </div>

            <div class="col-xs-12 link-pg">
              Browsing a shared gallery
            </div>

            <div class="col-xs-12 mysubs-pg">
              You are now logged in.<br /><br />
              Browsing your subscribed subreddits
            </div>

            <div class="col-xs-12 sub-pg link-pg mysubs-pg">
              <a href="/">Back to main page</a>
              <hr>
            </div>

            <div class="col-xs-12 main-pg">
              <span class="tagline">Build and share subreddit galleries</span>
            </div>

          </div>
          <div class="row main-pg input-wrapper">
            <div class="col-xs-12">
              <input type="input" class="form-control" id="input-sub" placeholder="Add a subreddit">
            </div>
          </div>

          <div class="row link-pg">
            <div class="col-xs-12">
              <span id="gallery-name"></span>
            </div>
          </div>
          
          <div class="row link-pg" id="edit-gallery">
            <div class="col-xs-12">
              <small>edit this gallery</small>
            </div>
          </div>

          <div class="row main-pg link-pg mysubs-pg">
             <div id="sub-list" class="col-xs-12">
              <div id="active-subs-label">Active Subreddits</div>
              <span id="front-page-label">Front Page</span>
              <span id="sub-names"></span>
             </div>
          </div>
          
          <div class="row main-pg">
            <div id="share" class="menuitem col-xs-12 share-button-wrapper">
              <a>Share this gallery</a>
            </div>

            <div class="share-load menuitem col-xs-12">
              <img src='/static/images/ajax-loader.gif' />
            </div>

            <div class="share-result menuitem col-xs-12">
              <input type="text" class="form-control" id="share-link"><br />
              <input type="text" class="form-control" id="share-name" placeholder="Gallery name (optional)">
              <div class="menuitem col-xs-12 update-button-wrapper">
                <!-- <button id="update-button" type="button" class="btn btn-default">Update</button> -->
                <img id="update-loader" src='/static/images/ajax-loader.gif' />
                <span id="update-confirm">Saved!</span>
              </div>
            </div>
          </div>

          <hr class="main-pg">

          <div class="row options">
            <div class="col-xs-12">
              <div id="active-subs-label">Options</div>
              <div class="row">
                <div class="col-xs-12">
                  <select id="select-sort" class="form-control">
                    <option selected="selected" disabled>Sort by:</option>
                    <option value="hot">hot</option>
                    <option value="new">new</option>
                    <option value="day">top today</option>
                    <option value="week">top this week</option>
                    <option value="month">top this month</option>
                    <option value="year">top this year</option>]
                    <option value="all">top all time</option>
                  </select>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <input id="options-text" type="checkbox"> Show text posts
                </label>
              </div>

              <div class="checkbox">
                <label>
				  				<input id="options-nsfw" type="checkbox"> Show nsfw posts
								</label>
              </div>
              <div class="row" id="remove-all">
                <div class="col-xs-12 main-pg">
                  remove all subreddits
                </div>
              </div>
              
              <div class="menuitem row main-pg" id="login-div">
              <hr>
                <div class="col-xs-12">
                  <a href="/login">Login with reddit</a>
                  to view your subreddits
                </div>
              </div>
              <hr>
              <!--<span class="glyphicon glyphicon-triangle-right"></span> -->
            </div>
            <div class="row text-center" id="contact">
              <div class="col-xs-12">
                <div id="questions"><a href="https://docs.google.com/forms/d/1CmnW2A0kKD-AYr7nW4pth1lMp7zp9clnREATJCXxoWA/viewform?usp=send_form">Questions/Comments</a></div>
                <a class="github-button" href="https://github.com/gabranches/vuiit" data-icon="octicon-star" data-count-href="/gabranches/vuiit/stargazers" data-count-api="/repos/gabranches/vuiit#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star gabranches/vuiit on GitHub">Star</a>
                <a class="github-button" href="https://github.com/gabranches" aria-label="Follow @gabranches on GitHub"> Follow @gabranches</a>
                <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
              </div>
            </div>
          </div>
          
        </div>
        <!-- Main Gallery -->
        <div id="gallery" class="col-xs-12 col-md-10">
          <div class="row">
            <div id="col-1-wrapper" class="col-xs-3 col">
              <div id="col-1">
              </div>
              <div class="text-center load-button-wrapper">
                <button type="button" class="load-more btn btn-default">Load More...</button>
              </div>
            </div>
            <div id="col-2-wrapper" class="col-xs-3 col">
              <div id="col-2">
              </div>
              <div class="text-center load-button-wrapper">
                <button type="button" class="load-more btn btn-default">Load More...</button>
              </div>
            </div>
            <div id="col-3-wrapper" class="col-xs-3 col">
              <div id="col-3">
              </div>
              <div class="text-center load-button-wrapper">
                <button type="button" class="load-more btn btn-default">Load More...</button>
              </div>
            </div>
            <div id="col-4-wrapper" class="col-xs-3 col">
              <div id="col-4">
              </div>
              <div class="text-center load-button-wrapper">
                <button type='button' class='load-more btn btn-default'>Load More...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/libs/handlebars-v2.0.0.js"></script>
<script src="/static/libs/bootstrap-typeahead.js"></script>
<script src="/static/js/handlebars_helpers.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/js/events.js"></script>
<script src="/static/js/cookies.js"></script>

{% include "handlebars.html" %}
{% include "document_ready.html" %}