<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Reddit Image Viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="main" class="container-fluid">
      <div class="row">
      	<!-- Top Menu (Mobile) -->
        <div id="top-menu" class="hidden-lg hidden-md col-xs-12 text-center affix-top">
          <span id="options-enter">Tap To edit subreddits</span>
          <span id="options-leave">Tap To return To gallery</span>
        </div>
				<!-- Left Menu -->
        <div id="left-menu" class="hidden-xs hidden-sm col-md-2 affix-top">
          <div class="row menu-top">
            <div class="col-xs-12 sub-pg">
              Browsing <strong>r/{{sub}}</strong>
            </div>

            <div class="col-xs-12 link-pg">
              Browsing a shared gallery
            </div>

            <div class="col-xs-12 mysubs-pg">
              <strong>You are now logged in</strong><br /><br />
              Browsing your subscribed subreddits
            </div>

            <div class="col-xs-12 sub-pg link-pg mysubs-pg">
              <a href="/">Back to main page</a>
            </div>

            <div class="col-xs-12 main-pg">
              Build and share a subreddit gallery</a>
            </div>

          </div>
          <hr>
          <div class="row main-pg">
          
            <div class="col-xs-12">
              <input type="input" class="form-control" id="input-sub" placeholder="Add a subreddit">
            </div>
          </div>

          <div class="row link-pg">
            <div class="col-xs-12">
              <span id="gallery-name"></span>
            </div>
          </div>
          
          <div class="row link-pg" id="edit-gallery">
            <div class="col-xs-12">
              <small>edit this gallery</small>
            </div>
          </div>

          <div class="row main-pg link-pg mysubs-pg">
             <div id="sub-list" class="col-xs-12">
              <div id="active-subs-label"><strong>Active subreddits</strong></div>
              <span id="front-page-label">Front Page</span>
              <span id="sub-names"></span>
             </div>
          </div>
          
          <div class="row main-pg">
            <div id="share" class="menuitem col-xs-12 share-button-wrapper">
              <a><strong>Share this gallery</strong></a>
            </div>

            <div class="share-load menuitem col-xs-12">
              <img src='/static/images/ajax-loader.gif' />
            </div>

            <div class="share-result menuitem col-xs-12">
              <hr>
              <input type="text" class="form-control" id="share-link"><br />
              <input type="text" class="form-control" id="share-name" placeholder="Gallery name (optional)">

              <div class="menuitem col-xs-12 update-button-wrapper">
                <!-- <button id="update-button" type="button" class="btn btn-default">Update</button> -->
                <img id="update-loader" src='/static/images/ajax-loader.gif' />
                <span id="update-confirm">Saved!</span>
              </div>
            </div>
          </div>

          <hr class="main-pg">

          <div class="row options">
            <div class="col-xs-12">
              <label>Options</label>
              <div class="row">
                <div class="col-xs-12">
                  <select id="select-sort" class="form-control">
                    <option selected="selected" disabled>Sort by:</option>
                    <option value="hot">hot</option>
                    <option value="new">new</option>
                    <option value="day">top today</option>
                    <option value="week">top this week</option>
                    <option value="month">top this month</option>
                    <option value="year">top this year</option>]
                    <option value="all">top all time</option>
                  </select>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <input id="options-text" type="checkbox"> Show text posts
                </label>
              </div>

              <div class="checkbox">
                <label>
				  				<input id="options-nsfw" type="checkbox"> Show nsfw posts
								</label>
              </div>
              
              <div class="menuitem row main-pg" id="login-div">
              <hr>
                <div class="col-xs-12">
                  <strong><a href="/login">Login with reddit</a></strong>
                  to view your subreddits
                </div>
              </div>

              <div class="row" id="remove-all">
                <div class="col-xs-12 main-pg">
                  <small>remove all subreddits</small>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <!-- Main Gallery -->
        <div id="gallery" class="col-xs-12 col-md-10">
          <div class="row">
            <div id="col-1-wrapper" class="col-xs-3 col">
              <div id="col-1">
              </div>
              <div class="text-center load-button-wrapper">
                <button type="button" class="load-more btn btn-default">Load More...</button>
              </div>
            </div>
            <div id="col-2-wrapper" class="col-xs-3 col">
              <div id="col-2">
              </div>
              <div class="text-center load-button-wrapper">
                <button type="button" class="load-more btn btn-default">Load More...</button>
              </div>
            </div>
            <div id="col-3-wrapper" class="col-xs-3 col">
              <div id="col-3">
              </div>
              <div class="text-center load-button-wrapper">
                <button type="button" class="load-more btn btn-default">Load More...</button>
              </div>
            </div>
            <div id="col-4-wrapper" class="col-xs-3 col">
              <div id="col-4">
              </div>
              <div class="text-center load-button-wrapper">
                <button type='button' class='load-more btn btn-default'>Load More...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/libs/handlebars-v2.0.0.js"></script>
<script src="/static/libs/jquery.visible.min.js"></script>
<script src="/static/libs/bootstrap-typeahead.js"></script>
<script src="/static/js/handlebars_helpers.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/js/events.js"></script>
<script src="/static/js/cookies.js"></script>

{% include "handlebars.html" %}
{% include "document_ready.html" %}